html,
body {
    height: 100%;
}

.navbar-custom{
	background-color: #FFFFF0!important;
	padding-top: 5px;
}

.left-navbar img{
    padding: 5px;
	float: left;
}

.right-navbar{
 	float: right;
    padding-top: 20px;
    padding-right: 20px;
    
}

.right-navbar ul li{
	display:inline-block;
    margin: 0 18px;
    -webkit-appearance: none !important;
}
.right-navbar ul li a{
    color: #3366FF;
    padding: 0 0 17px 0;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
    -webkit-appearance: none !important;
	outline:none;
}
.right-navbar ul li a:hover,.menu-navbar ul li a.active{
	background:none !important;
	border-bottom: 5px solid #2c3e50;
    -webkit-appearance: none !important;
}

.menu-navbar{
	margin-top: 20px;
	padding-top: 20px;
	background-color: #2980b9;
	height: 60px;

}

.menu-navbar .container{
    position: relative;
}

.menu-navbar ul li{
	display:inline-block;
    margin: 0 18px;
    -webkit-appearance: none !important;
}
.menu-navbar ul li a{
    color: #fff;
    padding: 0 0 17px 0;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 5px solid transparent;
    -webkit-appearance: none !important;
	outline:none;
}
.menu-navbar ul li a:hover,.menu-navbar ul li a.active{
	background:none !important;
	border-bottom: 5px solid #000;
    -webkit-appearance: none !important;
    padding-bottom: 12px;
}

/* fixed navbar */
.fix-top-menu{   
    position : fixed;
    top : -20px;
    width : 100%;
    min-width : 1024px;
    z-index: 5;
  }


.triangle{
    top: -20px;
    right: 15px;
    position: absolute;
    overflow: hidden;
    }

.demo-topright{
    width: 0; 
    height: 0; 
    border-top: 40px solid #00CCFF; 
    border-left: 40px solid transparent;
}

.slider-1{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    background-color: #7f8c8d;
    background-repeat: no-repeat;
	padding-top: 120px;
	text-align: center;
	min-height: 700px;
	width: 100%;
	padding-bottom: 100px;}

#about{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    background-color: #3498db;
    background-repeat: no-repeat;
	padding-top: 120px;
	text-align: center;
	min-height: 700px;
	width: 100%;
	padding-bottom: 100px;

}

#whyus{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    background-color: #7f8c8d;
    background-repeat: no-repeat;
	padding-top: 120px;
	text-align: center;
	min-height: 700px;
	width: 100%;
	padding-bottom: 100px;

}

#howtouse{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    background-color: #3498db;
    background-repeat: no-repeat;
	padding-top: 120px;
	text-align: center;
	min-height: 700px;
	width: 100%;
	padding-bottom: 100px;
}

#conv-table{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    background-color: #7f8c8d;
    background-repeat: no-repeat;
	padding-top: 120px;
	text-align: center;
	min-height: 700px;
	width: 100%;
	padding-bottom: 100px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
