html,
body {
   font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif
}
.parallax{
    background-position: 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.content-text{
    font-family: Verdana;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 20px;

}

.content-text h1{
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    
}


.content-text h2{
    font-weight: 250;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 30px;

}

.content-text p{
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px; 
    font-size: 25px;
    padding-bottom: 20px;   
}

.content-text-w{
    font-family: Verdana;
    color: #fff;
    text-align: center;
    letter-spacing: 2px; 

}
.content-text-w h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size:50px;
    padding-bottom: 20px;

}

.content-text-w p{
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px; 
    font-size: 18px;
    padding-bottom: 20px;   
}

.col-right img{
    float:right;
}

#logo{
    padding-left: 15px;
    padding-top: 10px;
}

#logo img{
    width: 300px;
    height: 120px;
}


/*
#help-button{ 
    position: absolute;
    top: 0px;
    right: 50px;
}


#help-button img{
    position: relative;
    top:11px;
    width: 30px;
    height: 30px;
}
*/
.menu-right{
    float: right;
    padding-right: 60px;
    padding-top: 40px;
}

.menu-right a{
    text-decoration: none;  
}

.menu-navbar{  
	height: 60px;
    text-align: center;
    position: relative;
    background-color:transparent;


}

.menu-navbar ul li{
 
	display:inline-block;
    margin: 0 18px;
    -webkit-appearance: none !important;
}
.menu-navbar ul li a{
    color: #1D70B7;
    font-weight: bold;
    padding: 0 0 15px 0;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    -webkit-appearance: none !important;
	outline:none;
}
.menu-navbar ul li a:hover,.menu-navbar ul li a.active{
	background:none !important;
	border-bottom: 5px solid #000;
    -webkit-appearance: none !important;
    padding-bottom: 8px;
}

/* fixed navbar */
.fix-top-menu{   
    position : fixed;
    background-color: default;
    top : 0px;
    width : 100%;
    min-width : 1024px;
    z-index: 5;
  }


/*SLIDER*/
.slider-1{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    background-color: #7f8c8d;
    background-repeat: no-repeat;
	padding-top: 40px;
	text-align: center;
	min-height: 500px;
	width: 100%;
	padding-bottom: 50px;
}



/*about*/
#about{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    margin-top: 40px;
    padding-top: 35px;
    background-repeat: no-repeat;
	text-align: center;
	min-height: 700px;
	width: 100%;
	padding-bottom: 50px;

}

.about-row-wrapper{
    width: 645px;
    margin: auto;
}

.about-items{
    width: 200px;
    height:200px;
    float: left;
}
.connect-dot{
    margin-top: 40px;
    float: left;
    width: 240px;
    height: 10px;
}
.connect-dot img{
    margin: auto;
    width: 82%;
}



#whyus{
	background-image: url(../img/bg/bg-03.jpg);
    background-repeat: no-repeat;
	padding-top: 50px;
	text-align: center;
	min-height: 600px;
	padding-bottom: 70px;
    background-position: center center;
}


.whyus-content p{
    font-size: 35px;
    padding-top: 220px;
}

.get-voucher{

    margin-top: 80px;
    font-weight: 600;
    border:5px solid white;
    color: #fff;
}

.get-voucher a{
    text-decoration: none;

}
.get-voucher a:visited, a:hover, a:active{
    color:#fff;
    text-decoration: none;

}
.get-voucher h1{
    font-weight: bold;
    color: #fff;
}

/*HOW TO USE */
#howtouse{
	/*background-image: url(../img/bg/home-bg.jpg);*/
    margin-top: 40px;
    padding-top: 35px;
    background-repeat: no-repeat;
	text-align: center;
	min-height: 700px;
	width: 100%;
}

#howtouse img{
    margin: auto;
}.use-wrapper{
    padding:50px;
}


#access-games{
	background-image: url(../img/bg/bg-05.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
	padding-top: 110px;
	text-align: center;
	padding-bottom: 100px;
}

.access-2 p{
    padding-top: 350px;
    font-size: 27px;
    text-align: right;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
.slide-img{
    height: 80%;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#how-redeem{
    margin-top: 40px;
    position: relative;
    padding-bottom: 70px;

}


.redeem-item{
    position: absolute;
    width: 15%;
    height: 20%;
}

.titik-redeem{
    width: 70%;
    margin: auto;
   
}
#redeem-pusat{
    bottom: 24%;
    left: 38%;
    width: 24%;
}

#redeem-item-1{
    bottom: 20%;
    left: 11%;

}
#redeem-item-2{
    top: 20%;
    left: 15%;
}
#redeem-item-3{
    top: 12%;
    width: 16%;
    left: 42%;
}
#redeem-item-4{
    top: 20%;
    right: 14%;

}
#redeem-item-5{
    bottom: 18%;
    right: 9%;
    width: 16%;
}

/*QUOTE*/
#quote{
    background-color: rgb(77,185,247);
}
.quote-text{
    color: #fff;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size:45px;
    padding:20px;
    padding-left: 50px;
    padding-right: 50px;

}
.quote-left{
    text-align:left;
    text-transform: uppercase;
}
.quote-right{
    text-align: right;
    text-transform: uppercase;
}


/* TOPPON CREDIT */
#conv-table{
    margin-top: 40px; 
    padding-top: 35px;
    background-color: rgb(225,227,229);
    padding-bottom: 100px;
    text-align: center;
}
#conv-table h1{
    padding: 5px;
}

.toppon-credit img{
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: 10px;

}
.toppon-credit p{
    line-height: 0px;
    font-size: 12px;
}
.credit-items{
    width: 200px;
    height:200px;
    float: left;
}
.btn-topup {
    background-color:rgb(47,158,243)!important;
}

/*CONTACT US*/
#contact-us{
    padding-top: 50px;
    padding-bottom: 100px;
}
.contact-form-container {
    padding-left: 100px;
    padding-top: 40px;
}

.form-custom{
    border:1px solid #58ACF8;
}

.contact-detailed{
    padding-left: 100px;
    padding-top: 90px;
    margin: auto;
}
.telepon{
    padding-bottom: 20px;
}
.telepon img{
    width: 30%;
}
.no-tlp{
    right: 15%;
}

.mail{
    padding-bottom: 20px;
}
.mail img{
    width: 30%;
}
.dest-mail{
    right: 15%;
}

.alamat{
    width: 60%;
}

.social-item{
    float:left;
    width: 70px;
    height: 70px;
    padding:10px;
}

.bank-transfer{
    float: right;
    width: 120px;
    height: 70px;
    padding: 10px;
}
.footer-text{
    margin: auto;
    text-align: center;
}


#back_to_top {
    padding: 25px;
    right: 0;
    bottom: 0;
    background: none;
    position: fixed;
    z-index: 9;
    text-decoration: none;
    color: #FFF;
    /*background-color: #2b2b2b;*/
    display: none;
    font-size: 28px;
    /*
    margin: 0;
    width: 70px;
    height: 70px;
    */
}
#back_to_top a{
    color: #FFF;
}
#back_to_top a:hover{
    color: #ffbf00;
}


@media screen and (max-width:769px) {
    div.col-clear{
        clear: both;
    }
}
@media (min-width:768px){

    .navbar-default{
        background-color:transparent;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:0
    }
    .navbar-default .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
    .navbar-default .navbar-nav>.active>a{border-radius:3px}
    .navbar-default.navbar-shrink{
        background-color: #22313F;
        padding:10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand{font-size:1.5em}

}