
/** Katalog **/
#list-catalog{
    list-style: none;
    width: 700px;
    padding:25px 10px 10px 0px;
}

#list-catalog li, #list-video li{
    margin-bottom: 10px!important;
    padding-bottom: 5px;
    border-bottom: 1px dashed black;
}

#list-catalog h3{
    font-size: 25px;
    float: left;
}

#list-catalog img{
    float: right;
}

/** Video **/
#list-video{
    list-style: none;
    width: 700px;
    padding:25px 10px 10px 0px;
}
#list-video h3
{
    font-size: 20px;
}

/** Partner, Portofolio **/
.partner-item, .portofolio-item{
    min-height: 400px;
    padding-top : 20px
}

.partner-item ul, .portofolio-item ul{
    list-style: none;
}

.partner-item ul li, .portofolio-item ul li{
    float: left;
    text-align: center;
    width: 220px;
    height: 80px;
    padding-top: 28px;
    margin-top: 10px!important;
    margin-left: 10px!important;
    border: 2px solid firebrick;
    border-radius: 4px ;
}

.portofolio-item ul li:hover{
    border: 2px solid #9a9a9a;
}


/** page structure **/
#hero {
  display: block;
  width: 100%;
  height: 280px;
}

.wrapper {
  display: block;
  width: 1024px;
  margin: 0 auto!important;
  padding-top : 20px;
}

#header-company-name{
	width : 800px;
}

#header-company-name h2{
	left : 20px;
}

/** jobs display **/
#jobs {
  display: block;
  margin-bottom: 80px;
}

#job-info {
  display: block;
  float: left;
  width: 750px;
  min-height: 300px;
  border-left: 1px solid #ddd;
  padding: 0 20px 30px;
  position: relative;
}

.jobitem {
  display: none;
}
.jobitem.displayed {
  display: block;
}

#jobs-list {
  display: block;
  width: 200px;
  float: left;
}
#jobs-list ul { list-style : none; }

#jobs-list ul li { 
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
}
#jobs-list ul li a {
  display: block;
  width: 100%;
  padding: 15px 7px;
  text-decoration: none;
  font-weight: bold;
  color: #9a9a9a;
  /*background: #fff;*/
}
#jobs-list ul li a:hover {
  color: #787878;
  background: #fff;
}
#jobs-list ul li a.active {
  display: block;
  color: #414141;
  padding-left: 6px;
  position: relative;
  left: 1px;
  background: #fff;
}

.job3-item{
    padding-top:20px;
	padding-bottom : 10px;
    border-bottom: 2px dashed firebrick;
    margin-bottom: 33px!important;
}

.details-list {
  font-size: 1.4em;
  color: #616161;
  list-style: disc;
  margin-left: 11px;
  margin-bottom: 25px;
}
.details-list li {
  line-height: 1.35em;
  margin-bottom: 4px;
  padding-top: 2px;
}

/** Event Detail **/
.event-detail-wrapper{
    width: 800px;
    margin-left: auto !important;
    margin-right: auto!important;
}
.event-img-wrapper{
    padding-top: 40px;
}
.event-img-wrapper, .event-img-wrapper img {
    /*width: 600px;
    height: 300px;*/
    margin-left: auto !important;
    margin-right: auto!important;
}
.event-desc-wrapper{
    padding-top: 40px;
}



.applybtn {
  border: 1px solid #1d4253;
  color: #fff;
  text-shadow: 0 -1px 0 #004e68;
  font-size: 1.4em;;
  display: inline-block;
  margin: 8px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #546477;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d8ea0), to(#546477));
  background-image: -webkit-linear-gradient(top, #7d8ea0, #546477);
  background-image: -moz-linear-gradient(top, #7d8ea0, #546477);
  background-image: -ms-linear-gradient(top, #7d8ea0, #546477);
  background-image: -o-linear-gradient(top, #7d8ea0, #546477);
  background-image: linear-gradient(top, #7d8ea0, #546477);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.applybtn:hover {
  background-color: #5d6d80;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#90a2b5), to(#5d6d80));
  background-image: -webkit-linear-gradient(top, #90a2b5, #5d6d80);
  background-image: -moz-linear-gradient(top, #90a2b5, #5d6d80);
  background-image: -ms-linear-gradient(top, #90a2b5, #5d6d80);
  background-image: -o-linear-gradient(top, #90a2b5, #5d6d80);
  background-image: linear-gradient(top, #90a2b5, #5d6d80);

}
.applybtn:active {
  color: #f6f6f6;
  background-color: #535c68;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#535c68), to(#5d6d80));
  background-image: -webkit-linear-gradient(top, #535c68, #5d6d80);
  background-image: -moz-linear-gradient(top, #535c68, #5d6d80);
  background-image: -ms-linear-gradient(top, #535c68, #5d6d80);
  background-image: -o-linear-gradient(top, #535c68, #5d6d80);
  background-image: linear-gradient(top, #535c68, #5d6d80);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.applybtn span {
  padding: 8px 20px;
  border-top: 1px solid rgba(255,255,255,0.4);
  display: block;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }