/** pop up ads**/
#blanket {
    background-color:#111;
    opacity: 0.65;
    *background:none;
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
    min-width: 1072px;
}

#popUpDiv {
    position:fixed;
    width:800px;
    height:500px;
    /*border:5px solid #000;*/
    z-index: 9002;
}

#popUpDiv a {position:absolute; right:0;}
#popUpDiv img{width:800px}

.info-container {
  position: relative;
  width: 1054px;
  margin : auto!important;
  padding-top:30px;
}

/*News And Event*/
#news-wrapper{
	float : left;
    padding-left: 15px;
	height : 300px;
	overflow-y : scroll;
}
#news-wrapper ul{
	list-style : none;
}

#news-ul li{
	width : 300px;
	height : auto;
	min-height : 40px;
	position : relative;
	background : #ecf0f1;	
	margin-bottom : 2px!important;
	padding :3px 2px 2px 10px;
	border-radius: 20px 5px 20px 5px;
	-moz-border-radius: 20px 5px 20px 5px;
	-webkit-border-radius: 20px 5px 20px 5px;
	
}

#news-ul li:nth-child(odd){
	background : #e74c3c;
	color : white;
}

#news-ul li.head-news, #news-ul li.head-news h1 {
	font-size : 20px;
	background : none;
	color : black;
	border: none;
}

.news-date{
	font-size : 18px;
}

/*Mini Description*/

.info-desc-container{
    width:1024px;
    margin-top: 20px!important;
    background : #e74c3c;
}

#info-desc-wrapper{
	width : 800px;
	height : auto;
	min-height : 300px;
	padding : 5px;
	margin : auto!important;
}

#info-desc-wrapper h1, #info-desc-wrapper h6 {
	padding-top : 10px;
    color: white;
    text-align: center;
}

#info-desc-wrapper h1{
    font-size: 20px;
    font-weight: 500;
}

.video-wrapper{
    float: left;
    padding-left: 15px;
}

.video-wrapper iframe{
	margin-left:40px!important;
}

.icon-container {
  position: relative;
  width: 824px;
  margin : auto!important;
  margin-top:20px!important;
  margin:auto!important;
  padding-top : 50px;
  padding-bottom : 20px;
  height:170px;
}

#index-icon-list{
  list-style: none;
}

#index-icon-list li{
	width:200px;
    height: 155px;
    margin : -30px auto!important;
    margin-left: 6px!important;
    padding-top: 10px;
	float:left
}

#index-icon-list li a{
    color : #34495E;
}

.index-icon-container{
	width: 100px;
	margin : auto!important;
}

.index-icon-container h4{
	padding-top : 5px;
	text-align :center;
}

