
*{
	margin: 0px!important;
	padding: 0px;
}

body{
	font-family: "Lato",Calibri,Arial,sans-serif;
    background-size: cover;
	background-repeat: no-repeat;
    font-size:12px;
}

.clear{
	clear:both;
}

.center{
	margin : 0 auto!important;
	text-align : left;
}

.header-container{
	min-width : 1024px;
	background-color:#f6f6f6;
	height: 119px;
	margin: 0px!important;
	position:relative;
}

.logo-container{
	margin:auto!important;
	width:1024px;
	position:relative;
}

.searchbox{
    position:relative;
    float:left;
    padding-left:800px;
    margin-top:-35px!important;
}

#search-text{
    width: 170px;
}

.language{
    position:absolute;
    width: 80px;
}

.language a img{
    position:relative;
    float:left;
    padding-left:8px;
    margin-right:-5px!important;
    width:35px;
}

.logo{
	width:315px;
	height:119px;
	position : relative;
}

.logo ul {
  list-style: none;
  padding-top: 7px;	
  padding-right : 5px;
  padding-left : 15px;
}

.logo li {
  font-size: 1em;
  line-height: 40px;
  text-align: left;
}

.logo a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.logo li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
 }
 
 .logo li ul {
    position: absolute;
    display: none;
	width: inherit;
	margin: 0!important;
	background-color: white;
	width:315px;
  }

  .logo li:hover ul {
    display: block;
	z-index:15;
  }

  .logo li ul li {
    display: block;
	width:315px;
	height: 85px;
  }
  
  .top-menu-container{
    font-family: "Lato",Calibri,Arial,sans-serif;
	height: 40px;
	background-color:#e74c3c;
	position:relative;
	z-index:5;
	min-width:1024px;
  }
  
  .fix-top-menu{   
	position : fixed;
	top : 0px;
	left : -1px;
	width : 100%;
	min-width : 1024px;
  }
  
  .top-menu-wrapper{
	width:1024px;
    position: relative;
	margin:auto!important;
  }
  
  .top-menu-wrapper ul#top-menu{
	list-style:outside none none;
	position : relative;
	margin-left : 125px!important;
  }
  
  .top-menu-wrapper ul#top-menu > li{
	float : left;
	height: 40px;
	color:white;
	margin-right : 15px;
	margin-left : 30px!important;
	display:block;
	position: relative;
  }
  
  #top-menu a {
      font-family: "Lato",Calibri,Arial,sans-serif;
      font-size:17px;
	  text-decoration: none;
	  color: #fff;
	  display: block;
	  padding-left: 10px;
      padding-right: 10px;
	  padding-top: 4px;
      padding-bottom: 7px;
	  transition: .3s;
  }

  li.dropdown-list{
      padding-bottom: 10px;
  }

  .dropdown-sub-menus{	
	width:200px;
	display : none; /* Hides the drop down */
	padding:10px 5px 10px 5px;
	position:absolute;
	padding : 7px 5px;
	text-align:left;
	background:#e74c3c;
	border: 1px solid #e74c3c;
	z-index:7;
  }

  .dropdown-sub-menus a{
    text-align: left;
    padding: 3px;
  }

  #top-menu li a:hover {
    background: #ecf0f1;
    color : #e74c3c;
  }

  #top-menu li:hover .dropdown-sub-menus  {
	display : inline-block;
	top:auto;
	z-index:20;
  }
  
  #content-container{
	margin:auto!important;
	width:1024px;
	position:relative;
	padding-top : 8px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom : 20px;
    /*tambahan*/
    background-color: rgba(246,246,246,0.9);
  }
  
  .footer {
    background:#f6f6f6;
    font-family: "Lato",Calibri,Arial,sans-serif;
	position:relative;
	/*margin-top : 20px!important;*/
	width : 100%;
	min-width : 1024px;
  }
  
  .wrap {
    width: 1024px;
	margin : 0 auto!important;
	transition: all 0.2s linear 0s;
  }
  .foot-logo {
    float: left;
    width: 281px;
    margin-top: 10px!important;
    text-align: center;
  }
  
  .foot-links ul {
    list-style: outside none none;
	display: block;
    float: left;
    width: 230px;
    padding: 15px;
  }
  
  .foot-links h3 {
    font-size: 1em;
    color: #c0392b;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 2px ridge rgba(67, 98, 129, 0.6);
  }
  
  .foot-links li  {
    color: #c0392b;
    font-size: 13px;
    padding: 6px 0px;
    display: block;
    transition: all 0.3s ease 0s;
	}
  
  #copyright{
    padding-right:15px!important;
	text-align:right;
	color:#c0392b;
    font-size:15px ;
  }

  .locationicon img{
    padding-top: 80px;

  }

  .buttonleft{
    width: 200px;
    height: 40px;
    float:left; 
    padding-top: 8px;
    color: #E74C3C;
    border:1px solid #E74C3C;

  }

  .buttonright{
    width: 200px;
    height: 40px;
    float:right;
    padding-left:-10px;
    padding-top: 8px;
    color: #E74C3C;
    border:1px solid #E74C3C; 
  }

  .middlebutton{
    padding-top: 30px;
    padding-bottom: 170px;
    width:500px;
    margin:auto!important;

  }

  .buttonleft:hover{
    background-color: #E74C3C;
    color: #FFFFFF;
  }

  .buttonright:hover{
    background-color: #E74C3C;
    color: #FFFFFF;
  }
  
  /*Pagination*/
    ul.pagination{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
    }

    ul.pagination li a{
        background-color: #E74C3C;
    }
    
    ul.pagination li.active a{
        pointer-events:none;
    }

    /*
    Loading List Overlay
    */
    #loading_wrap{
        position: absolute;
        height:100%;
        width:100%;
        left: 0;
        top:0;
        overflow:hidden;
        z-index:3;
        background-color:white;
    }

    #circularG{
        margin : 0 auto!important;
        top : 154px;
    }
